* text=auto eol=lf

*.blade.php diff=html
*.php diff=php
*.js linguist-vendored=true
*.css linguist-vendored=true
*.scss linguist-vendored=true
*.html diff=html
*.md diff=markdown

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
